* {
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgb(255, 119, 52), rgb(228, 50, 184));
  background-repeat: no-repeat;
  color: aqua;
}

.project {
  max-width: 25%;
  padding: 1%;
}

.aboutMe {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  padding: 0 10px;
}

article,
h1 {
  color: aqua;
  background-image: linear-gradient(rgb(255, 119, 52), rgb(228, 50, 184));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navActive {
  color: rgb(255, 222, 57);
}

header,
footer {
  color: aqua;
  background-image: linear-gradient(rgb(255, 119, 52), rgb(228, 50, 184));
}
